@inherits LayoutComponentBase


<div style="height: 500px;">
    <FluentLayout>
        <!-- Header -->
        <FluentHeader>
            <FluentLabel Typo="Typography.PageTitle" Color="@Color.Warning"> Cäsars Taschenrechner</FluentLabel>
        </FluentHeader>

        <!-- Main content -->
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>

        <!-- Footer -->
        <FluentFooter>
            <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
            <FluentSpacer></FluentSpacer>
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
        </FluentFooter>
    </FluentLayout>
</div>